.table {
    width: auto;
    margin: auto;
    border-collapse: collapse;
}

.table__cell {
    padding: 5px 10px 5px 10px;
    text-align: center;
    border: 1px solid rgb(105, 105, 105);
}

.table__caption {
    font-size: x-large;
}

.table__cell--header {
    padding: 10px;
    background-color: rgb(197, 197, 197);
    border: 1px solid rgb(105, 105, 105);
}

.table__row:nth-child(even) {
    background-color: rgba(236, 236, 236, 0.979);
}

.table__row:hover {
    background-color: rgb(102, 128, 128);
}